* {
	box-sizing: border-box;
	}
	
html {
      zoom: 75%;
      margin-left: 70px;
      margin-right: 70px;	
      background-color: lightgray;	  
	}

html {
	scroll-behavior: smooth;
    /* Ajusta este valor para que coincida exactamente con la altura de tu nav fijo */
    scroll-padding-top: 120px;   
}


.menu { 
  float: left ;
  top: 0; 
  left: 0; 
  width: 230px; 
  height: 500px;
  display: grid; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  gap: 0px; 
  background-color: darkblue; 
  color: white; 
  padding: 20px; 
  margin-bottom: 20px; 
  border: 5px solid black; 
  box-shadow: 0px 14px 40px black; 
  box-sizing: border-box; 
  text-shadow: 0px 8px 15px black; 
  cursor: pointer; 
  z-index: 9999; 
  font-size: 14px; 
  padding-left: 20px;
  margin-left: 0px;
  margin-top: 20px;
}



.menu:hover {
	box-shadow: 0px 14px 40px orange;
	}

a {
	color:white;
}

a:hover {
	color:orange;
}

.h1 {
 color : orange;	
}

h2 {
      margin-left: 290px;	
	  font-size: 60px; 
}

span {
	color: orange;
	-webkit-text-stroke: 1px black; 
	text-shadow: 2px 2px 4px black;
}

h3 {
	margin-left: 290px;	
	  font-size: 50px; 
	 
}

h4 {
	font-size: 50px; 
	clear: both;
}

.foto {
    width: 500px;
	height: 500px;
	margin: 20px;
	float: right;
}

p {
	font-size: 45px; 

}

.education {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	place-items: center;
	text-align: left;
	background-color: darkblue;
	color: white;
	padding-left: 40px;
	padding-top: 5px;
	gap: 60px;
	justify-content: center; 
	
}

button {
	font-size: 40px;
	padding: 10px;
	margin: 10px;
	margin-right: 30px;
	background-color: orange;
	box-shadow: 0px 7px 20px black;
}

.shake {
	display: inline-block;
	animation: shake-animation 1s infinite;
}

@keyframes shake-animation {
	0%  { transform: translate(0,0);}
	20% { transform: translate(-3px,0);}
	40%  { transform: translate(3px,0);}
	60%  { transform: translate(-3px,0);}
	80%  { transform: translate(3px,0);}
	100%  { transform: translate(0,0);}
}